*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Young Serif", serif;
}

.container{
    padding: 50px;
}

.section-one{
    background-color: black;
    color: white;
    padding: 20px;
}

.section-one__contact{
    background-color: orangered;
    color: white;
    text-decoration: none;
    padding: 5px 10px ;
    display: inline-block;
    margin-top: 10px;
}

.section-one__name{
    font-size: 60px;
}

.section-one__role{
    font-size: 30px;
    margin-top: 10px;
}

.section-two,.section-three, .section-four , .section-five{
    margin-top: 20px;
}

.section-two__desc,.section-three__desc, .section-four__desc , .section-five__desc{
    margin-top: 10px;
}

.section-five{
    background-color: black;
    color: white;
    padding: 20px;
}

.section-five__title a{
    color: aqua;
}

.section-four li, .section-three li{
 list-style: none;
}

.section-three{
    background-color: rgb(163, 71, 229);
    padding: 20px;
    display: inline-block;
    height: 200px;
    border-radius: 10px;
    vertical-align: top;
}

.section-four{
    background-color: rgb(248, 140, 32);
    padding: 20px;
    display: inline-block;
    height: 200px;
    border-radius: 10px;
    vertical-align: top;
}

.contact-form{
    margin-top: 29px;
}
.contact-form__input, .contact-form__textarea, .contact-form__submit{
    margin-top: 10px;
}   

.contact-form__input{
    padding: 10px;
    border: none;
    border-bottom: solid black 2px;
}

.contact-form__textarea{
    padding: 10px;
    border: solid black 2px;
}

.contact-form__submit{
    padding: 10px 20px;
    border: none;
    background-color: orangered;
    color: white;
    cursor: pointer;
    border: none;
}